@import "bootstrap";
@import "tailwindcss";
@tailwind utilities;

.custom-link {
    color: #1f2fdc;
    text-decoration: none;
    transition: color 0.3s;
}

.custom-link:hover {
    color: #0611ac;
    text-decoration: underline;
}

.btn-warning:hover {
    background-color: #cc8500;
}

.btn-info:hover {
    background-color: #17a2b8; /* Bootstrap info color */
}

.btn-danger:hover {
    background-color: #c82333; /* Bootstrap danger color */
}
.alert {
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.95rem;
}

.alert-danger {
    background-color: #fef2f2;
    color: #b91c1c;
    border: 1px solid #fca5a5;
}
