@import "bootstrap";
@import "tailwindcss";
@tailwind utilities;

.custom-link {
    color: #ffc107; /* Bootstrap text-warning */
    text-decoration: none;
    transition: color 0.3s;
}

.custom-link:hover {
    color: #cc8500; /* สีตอน hover */
    text-decoration: underline;
}

.btn-warning:hover {
    background-color: #cc8500;
}

.btn-info:hover {
    background-color: #17a2b8; /* Bootstrap info color */
}

.btn-danger:hover {
    background-color: #c82333; /* Bootstrap danger color */
}
